<div class="container booking">
  <!-- Button to Add New Starship -->
  <div class="btn primary">
    <%= link_to "Add New Starship", new_starship_path, class: 'btn btn-primary' %>
  </div>

  <!-- Carousel Section -->
  <div class="infinite-slider" data-controller="slider">
    <div class="slider-track"
        data-slider-target="track"
        data-action="mouseenter->slider#pauseAnimation mouseleave->slider#resumeAnimation wheel->slider#onWheel">
      <% @starships.each do |starship| %>
        <div class="slider-item-book">
          <%= link_to starship do %>
            <%= cl_image_tag starship.photo.key, height: 200, width: 300, crop: :fill %>
            <div class="slider-name">
              <h3><%= starship.name %></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <!-- Bookings Section -->
  <div class="d-flex justify-center" data-controller="reload">
    <!-- My Bookings -->
    <div class="bookings">
      <h1>Bookings</h1>
      <div class="spaceships-book">
        <% @my_bookings.each do |booking| %>
          <div class="starship">
            <div class="name  d-flex justify-content-between">
              <%= booking.starship.name %>
              <%= booking.starship.user.email %>
            </div>
            <div class="status">
            <%= booking.status %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Pending Bookings -->
    <div class="bookings" data-reload-target="starships">
      <h1>Booking From Me</h1>
      <div class="spaceships-book">
        <% @bookings.each do |booking| %>
          <div class="starship">
  <div class="name d-flex justify-content-between">
    <%= booking.starship.name %>
    <%= booking.user.username %>
  </div>

  <% if booking.status == 'pending' %>
    <div class="actions">
      <div data-reload-target="approve">
        <%= button_to "Approve", approve_booking_path(booking), method: :patch, class: "btn btn-primary",
          data: { action: "submit->reload#accept" } %>
      </div>
      <div data-reload-target="decline">
        <%= button_to "Decline", decline_booking_path(booking), method: :patch, class: "btn btn-danger",
          data: { action: "submit->reload#reject" } %>
      </div>
    </div>
  <% else %>
    <div class="status">
      <%= booking.status %>
    </div>
  <% end %>
</div>

        <% end %>
      </div>
    </div>
  </div>
</div>
