<div class="container p-3 mt-3">
  <%= simple_form_for Starship.find(params[:id]) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :top_speed %>
    <%= f.input :upgrades %>
    <%= f.input :mass %>
    <%= f.input :weapons %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
