<div class="container">
  <h1>Select Your Starship Trooper</h1>
  <div class="spaceships">
    <% @starships.each do |starship| %>
      <div class="index-cards">
        <%= link_to starship do %>
            <h3><%= starship.name %></h3>
            <%= cl_image_tag starship.photo.key, height: 200, width: 300, crop: :fill %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;" data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
