
<div class="container">
  <h1><%= @starship.name %></h1>
    <p>$<%= @starship.price %></p>
    <p><%= @starship.mass %>kg</p>
    <p><%= @starship.top_speed %>km/h</p>
  <p>Posted by <%= @starship.user.email %></p>
</div>

<%= link_to "Book Now", new_starship_booking_path(@starship), class: "btn primary" %>

<%= cl_image_tag @starship.photo.key, height: 300, width: 400, crop: :fill %>
